using UnityEngine;

namespace wizardscode.plugin {
    [CreateAssetMenu(
        fileName = "CATEGORY_DESCRIPTIVENAME_Profile",
        menuName = "Wizards Code/CATEGORY/DESCRIPTIVENAME Profile")]
    public class CATEGORY_DESCRIPTIVENAME_Profile : AbstractPluginProfile
    {
    }
}